@model Library.Models.LibraryItem

@{
    ViewData["Title"] = "Delete";
}

<a asp-action="Details" asp-route-id="@Model?.Id" class="absolute left-10 -top-6"><img src="~/images/back.png" alt="Back" class="invert grayscale w-16"></a>

<h3 class="text-xl font-semibold text-center my-10">Are you sure you want to delete this?</h3>

<div class="text-center py-6 space-y-12">

    <div class="space-y-3">
        <h1 class="font-medium">Book Title</h1>
        <h1>@Model.BookTitle</h1>
    </div>

    <div class="space-y-3">
        <h1 class="font-medium">Author</h1>
        <h1>@Model.AuthorName</h1>
    </div>

    <div class="space-y-3 w-1/2 mx-auto">
        <h1 class="font-medium">Book Description</h1>
        <h1>@Model.Description</h1>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Delete" class="btn btn-danger px-14 py-2">

    </form>

</div>