@model IEnumerable<Library.Models.LibraryItem>

@{
    ViewData["Title"] = "Index";
}

<nav class="px-6 w-full flex items-center justify-between py-6">
    <a asp-action="Index" class="block font-bold text-xl">Library</a>

    <div class="space-x-10">
        <a asp-action="CreatedBooks" class="text-xl hover:text-blue-300">Your Books</a>
        <a asp-action="Create" class="text-center rounded-md  px-4  py-3 font-medium hover:text-white bg-[#4F46E5] hover:bg-[#3E36B8] transition-all duration-400 ease-in">Write Your Own Book Here</a>
    </div>
</nav>

<div class="w-full flex items-center justify-center flex-col">


    <h1 class="text-xl font-semibold text-center my-6 px-6">Dive into exciting adventures</h1>


    <div class="w-full flex flex-col items-center justify-center mt-4 mb-8 space-y-2">
        <label class="w-1/4 text-left font-medium text-lg">Search Books</label>
        <div class="h-16 w-1/4 rounded-xl flex items-center justify-center">
            <input id="searchInput" type="search" class="bg-white w-[80%] h-full rounded-lr-xl rounded-tl-xl rounded-bl-xl text-black outline-none pl-4">
            <div class="w-[20%] h-full bg-[#4F46E5] flex items-center justify-center rounded-tr-xl rounded-br-xl">Go</div>
        </div>
    </div>




    <div id="boxContainer" class="flex flex-wrap justify-evenly  mb-10 gap-6">
    </div>

</div>

<a asp-action="Index" id="next" class="block w-1/6 bg-[#4F46E5] hover:bg-[#3E36B8] rounded-lg flex items-center justify-center py-2 text-center mx-auto hidden space-x-4 transition-all duration-400 ease-in">
    <h1 class="text-xl">Next</h1>
    <img src="./images/back.png" alt="" class="w-10 invert grayscale scale-x-[-1]">
</a>

@section Scripts {
    <script src="~/js/index.js"></script>
}